.div_flechaArriba {

    right: 30px;
    bottom: 115px;
    position: fixed;
    border-radius: 50%;
    -webkit-box-shadow: -1px 3px 38px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 38px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 38px -7px rgba(0,0,0,0.75);
    cursor: pointer;
   

}

.imagenArriba {
    width: 60px;

}