.divIconoEscribirWhatsapp {
  width: 64px;
  height: 64px;
  background: red;
}

.iconoEscribirWhatsapp {
  right: 30px;
  bottom: 30px;
  position: fixed;
  width: 60px;
  height: 60px;

}

@media (max-width: 800px){

  .iconoEscribirWhatsapp {
    right: 30px;
    bottom: 30px;
    position: fixed;
    width: 55px;
    height: 55px;
  
  }

}