html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(173, 184, 221) 70%, white 100%) no-repeat;
    margin: 0px;
}

 .contenedor{

     margin:-10px;
     width: 100%;
     height: 450px;
     border: 5px solid black;
 }

.imagen{
    width: 100%;
    height: 450px;
}

.fotoAcercaMovil{
    
 display: none;
}


.textoAcercademiMovil{
   display: none;

 }

.foto{
    margin-top: 150px;
    margin-left: 10px;
    box-shadow: 10px -5px rgb(19, 33, 80);
    border: 2px solid black;
    border-radius: 20%;
    width: 180px;
    height: 210px;
 
}

.fotoAcerca{
    
    margin-top: 100px;
    margin-left: 350px;
    position: absolute;
    width:400px;
    height:450px;
    float: left;
}

.imagenBase{
    background-image: url('img/imagen.jpg');
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    border: 2px solid black;
    margin-top: -380px;
    margin-left: 500px;
    width: 400px;
    height: 500px;
}



.menu-escritorio{
 margin-top: -450px;
 position: absolute;
 position: fixed;
 z-index: 1;
 width: 100%;
 margin-left: -5px;
 border-width: 0px;
 background:rgb(19, 33, 80) ;
}

.linkInicio, .linkAcerca, .linkProyectos, .linkContacto{
    text-decoration: none;
    color: white;
}

.menu-escritorio .li-escritorio{
    padding-top: 7px;
    margin-top: 5px;
    text-align:center;
    font-family:Helvetica;
    font-weight: bold;
    list-style: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    float: left;
    color: white;
    font-size: 20px;

    
   
}

.ulE{
    height: 50px;
    float: right;
    margin-right: 70px;
}

.li-escritorio{
 float: right;
}
.menu-escritorio .li-escritorio:hover{
    width: 150px;
    height: 30px;
    background: cadetblue;
    color: white;
    cursor: pointer;

    
}

.contenido{
    padding-top: 100px;
}

.portafolio{
    display: none;
}

.contendor-menu{
    display: none;
}

.logoMenu{
    display: none;
}

.ulMovil{
    display: none;
}

.contenido-movil{
    display: none;
}
.textoNombre{
    margin-left: 85px;
    margin-top: 5px;
    position: absolute;
    font-size: 30px;
    color: white;
}
.textoProfesion{
    margin-left: 120px;
    margin-top: 50px;
    position: absolute;
    font-size: 25px;
    color: white;
}

.textoAcercademi{
   width: 630px;
   margin-top: 150px;
   margin-left: 550px;
   border-bottom: 10px solid black;
   font-size: 40px;
   font-family: helvetica;
   font: bold;
   animation: arribaAcerca 2s;
}

@keyframes arribaAcerca{
    0%{
         transform: translateY(250px);
    }

    100%{
         transform:  translateY(0);
    }
}

.textoContenido{
    position: relative;
    margin-top: -60px;
    font-size: 20px;
    width: 550px;
    margin-right: 150px;
    float: right;
    font-family: Helvetica;
    opacity: 0;
 
}

.mostrarArriba{
    animation: verArriba 1s;
}

@keyframes verArriba{

    0%{
        transform: translateX(100px);

    }

    100%{
        transform: translateX(0);
    }
}
.iconos{
    width: 500px;
    height: 100px;
    float: right;
    position: absolute;
    margin-top: 120px;
    margin-left: 650px;
}

.iconos p{
    font-size: 20px;
    font-family: Helvetica;

}



.tecnologias{
    width: 700px;

}

.tecnologias_moviles{
    width: 200px;
    height: 400px;
    display: none;
}

@media screen and (max-width: 500px){

    .contenedor{

        margin:-10px;
        width: 100%;
        height: 200px;
        border: 5px solid black;
        text-align: center;
      
    }
    

    .portafolio{
        display: inline;
        width: 100%;
        height: 50px;
        background:rgb(19, 33, 80) ;
        position: fixed;
        margin: 1px;
        margin-top: 5px;
        z-index: 1;
        color: white;
        font-size: 30px;
        padding-left: 20px;
        padding-top: 5px;
    }

    .contendor-menu{
        display: block;
        float: left;
        overflow: hidden;
        width: 45px;
        height: 45px;
        float: right;
        margin-right: 20px;
    }

    .logoMenu{
        display: block;
        width: 45px;
        position: absolute;
        
    }
    .ulMovil{
        display: inline;
        margin-left: -300px;
        float: left;
        width: 70%;
        height: 100%;
        position: fixed;
        z-index: 1;
        margin-top: 240px;
        
      
      }
      
      .ulM{
        padding-top: 100px;
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute; 
        overflow: hidden;
        background:rgb(19, 33, 80) ;
        
      }
      
      .ulLi {
        display:block;
        float:none;
        width: 100%;
        height: 40px;
        font-size: 20px;
        text-align: center;
        
      }

      .ulLi a{
        text-decoration: none;
        color: white;
        font-size: 20px;
      }

    .imagen{
        width: 100%;
        height: 200px;
    }

    .menu-escritorio{
        display: none;
    }

    .ulMovil{
        display: block;
        margin-top: -175px;
       float: left;
      
    }

    .ulM{
        text-align: center;
        margin-left: -10px;
    }

    .ulLi{
        color: white;
        margin-left: -25px;
        border-radius: 10px;
    }

    .ulMovil .ulLi:hover{
        background: cadetblue;
        color: white;
        cursor: pointer;
    
    
        
    }

    .imagenBase{
        background-image: url('img/imagen.jpg');
        background-size: cover;
        border-radius: 20px;
        position:absolute;
        border: 2px solid white;
        margin-top: -130px;
        margin-left: 15px;
        margin-right: 10px;
        width: 90%;
        height: 250px;
        overflow: hidden;
    }

    .foto{
        margin-top: 60px;
        margin-left: 10px;
        box-shadow: 2px -5px rgb(19, 33, 80);
        border: 2px solid black;
        border-radius: 20%;
        width: 40%;
        height: 50%
     
    }

    .textoNombre{
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        font-size: 20px;
        color: white;
        width: 100%;
    }
    
    .textoProfesion{
        margin-left: 0px;
        margin-top: 25px;
        position: absolute;
        font-size: 20px;
        color: white;
        width: 100%;
    }
    

    .fotoAcercaMovil{
    
        margin-top: 300px;
        margin-left: -90px;
        position: absolute;
        width:70%;
        height:50%;
        float: left;
        display: block;
    }


    .textoAcercademiMovil{
        width: 90%;
        margin-top: 150px;
        margin-left: 10px;
        border-bottom: 10px solid black;
        font-size: 30px;
        font-family: helvetica;
        font: bold;
        display: block
  
     }

     .textoAcercademi{
        display: none;
     }

     .fotoAcerca{
        display: none;
     }
     
   

     .contenido{
        display: none;
     }

     .contenido-movil{
        display: block;
        padding-top: 100px;
     }
     
     .textoContenido-movil{
         color: black;
         position: absolute;
         margin-top: -60px;
         font-size: 17px;
         width: 95%;
         margin-left: 10px;
         margin-right: 0px;
         float: left;
         font-family: Helvetica;
         opacity: 1;
         overflow: hidden;
      
     }
     
    
     .iconos-movil{
         width: 300px;
         height: auto;
         position: absolute;
         margin-top: 200px;
         margin-left: 70px;
         margin-bottom: 100px;
         display: block;
         overflow: hidden;
         text-align: center;
   
     }
     
     .iconos-movil p{
         font-size: 20px;
         font-family: Helvetica;
     
     }

     .tecnologias{
      display: none;
    }


    .contenido_app{
        margin-bottom: 100px;
      
    }

    .tecnologias_moviles{
        width: 200px;
        height: 400px;
        display: block;

    }

     .iconoHtml-movil{
        width: 70%;
        height: auto;
     }
     

     
     .iconoCss-movil{
        
        width: 70%;
        height: auto;
     }
  
     
     .iconoJavascript-movil{
        width: 50%;
        height: auto;
    
     }
     
   
     
     .iconoAjax-movil{
        
         width: 60%;
         height: auto;
 
    
     }
     
    
}